footer {
  background: #1d1d1e;
}

.inner-footer {
  margin: 0 auto;
  width: 90%;
  padding-top: 50px;
  display: flex;
  justify-content: left;
  gap: 200px;
}

.inner-footer h4 {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.socials {
  padding-top: 70px;
}

.socials a {
  margin-right: 50px;
}

.footer-list ul {
  margin-top: 20px;
}

.footer-list li {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: #f1f3f9;
  cursor: pointer;
}

.copyright {
  padding: 30px;
  padding-left: 70px;
}

.copyright p{
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #f7f7f7;
}